main {
    height: 78vh;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    display: flex;
    align-items: center;
    align-content: center;
}
#gameContainer {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;
}

#wordToTranslate {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
}

#translationForm {
    display: flex;
    align-items: center;
}

#translationForm label {
    flex: 1;
    margin-right: 10px;
}

#translationInput {
    flex: 2;
    padding: 10px;
    font-size: 16px;
}

button[type="submit"] {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #333;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button[type="submit"]:hover {
    background-color: #555;
}